<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="systemxml" frontName="systemxml">
            <module name="I95Learning_SystemxmlandHelper"/>
        </route>
    </router>
</config>
